html{
	
}

body{
	background-color:#E9EAED!important;
	margin-left: 60px!important;
}
#p_config_gestion{
	
}
#p_config_gestion .nav-pills{
	margin-top:50px;
}
#p_config_gestion #contenu_p_config_gestion{
	margin-left: 0;
}
#p_config_gestion  #contenu_p_config_gestion{
	border:2px solid black;
}
#entete_hr{
	height: 80px;
	
}
#entete_hr nav{
	background-color: black;
}
#entete_hr nav #logo_min{
	display:block;
	height: 40px;
	background-image: url('/images/logo_min.jpg');
}
#entete_hr nav #logo_min a{
	width: 60px;
	height: 40px:
	margin: 0;
	padding: 0;
	display: block;
}

/*
#entete, #p_cartographie{
	height:260px;
	padding:20px; 
	margin-left:45px;
	margin-right:45px;
}
#entete #logo{
	height: 180px;
	width: 166px;
	/*background-color: black;*/
	/*background-image: url('/images/logo.jpg');
	float: left;
}
#entete #logo a{
	display: block;
	height: 100%;
	width: 100%; 
}
#entete #profil{
	float: right;
	height: 150px;
	width: 150px;
}
#entete #menu_entete{
	width: 100%;
	height: auto;
	float: left;
}*/
.container-fluid{
	margin-left:45px;
	margin-right:45px;	
}
#form_connexion{
	width: 30%;
	margin:auto;
}
#inputType1, #inputType2{
	display: none!important;
}
/*Cartographie*/
.blocTable{
	background-image: url('/includes/img/cartographie/sphere.jpg');
	height: 136px;
	width: 260px;
	float: left;
}
#test{
	border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 50;
    margin: 0;
    padding: 0;
} 


#p_cartographie{
	
}
#p_cartographie .colonne_carto{
	display: block;
	float: left;
	height: auto;
	margin-right: 20px; 
}
.modal button.btn{
	margin-bottom:10px;
}
ul.liste_liens{
	list-style-type: none;
}
ul.liste_liens li{
	width: 100%;
	height: 30px;
}
.div_align{
	float: left;
	height: 20px;
	margin-left:10px;
}
.div_align form{
	padding: 0;
	margin: 0;
} 

.modal-body{
	max-height: 800px!important;
}
